@using Prototyping.Ipsum
@{
    ViewBag.Title = "ExampleFour";
}
<div class="row">
    <h1>Example Four</h1>
</div>
<div class="row">
    <div class="three phone-one columns">
        @Html.Ipsum().h2().p()
    </div>
    <div class="nine phone-three columns">
        @Html.Ipsum().h1().p()
    </div>
</div>
