@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="twelve columns">
        <h2>Rapid prototyping, the MVC working model</h2>
        <p>
            This repository contains all of the examples given in the article **Rapid prototyping,
            the MVC working model**.
        </p>
        <p>
            These examples were built using ASP.NET MVC, Prototyping for MVC and Foundation
            Framework 2.2.
        </p>
<p>Click example 1 to begin.</p>
    </div>
</div>
