<header class="row">
    <div class="eight columns phone-three">
        <h1>Conference RSVP<small> Pick your seat&trade;</small></h1>
    </div>
    <div class="four columns phone-one">
        @Html.Partial("_LogOnPartial")
    </div>
    <hr />
</header>