@using Prototyping.Ipsum
<footer>
    <div class="row">
        <div class="three columns">@Html.Ipsum().h6().ul(links:true)</div>
        <div class="six columns">@Html.Ipsum().h6().ul(links:true)</div>
        <div class="three columns">@Html.Ipsum().h6().ul(links:true)</div>
    </div>
</footer>
